@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

:root {
    --color-extralight: #c3f63c;
    --color-light: rgb(0, 200, 5);
    --color-dark: #002411;
    --color-white: white;
    --color-black: black;
}

*, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-extralight);
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
}